/*header*/
.header {
  display: grid;
  grid-template-columns: 308px 350px 200px;
  margin-top: 100px;
  margin-left: 75px;
  font-size: 14px;
}

.header-links-list {
  display: flex;
  justify-content: space-between;
  list-style: circle;
}
.titles {
  list-style: none;
}

.logo {
  width: 148px;
  height: 105px;
  gap: 0px;
}

/*cover*/
.cover {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url(../images/cover.jpg);
  position: relative;
  z-index: 0;
}

.cover_title {
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 165px 50px 136px 50px;
}

.aligned-text {
  display: block;
  margin-top: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover_footer {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.cover-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 21px;
  margin: 0px 77px 0px 82px;
  position: relative;
  z-index: 1;
}

.cover__button {
  color: #ffffff;
  border: solid 1px #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  background-color: transparent;
  padding: 12px 32px 12px 32px;
  position: relative;
  z-index: 1;
}

/*lots*/
.lots_title {
  width: 121px;
  height: 47px;
  left: 40px;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  background: white;
  color: #000000;
}

.cards {
  margin-top: 179px;
  background-color: white;
  position: relative;
  z-index: -1;
}

.lots {
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
  list-style: none;
}

.lot {
  width: 334px;
  height: 563px;
}

.title {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  width: 254px;
  height: 82px;
  top: 122px;
  left: 40px;
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  box-sizing: content-box;
}

.books {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-top: 60px;
  width: 254px;
  height: 144px;
  left: 40px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  box-sizing: content-box;
}

.films {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-top: 250px;
  width: 254px;
  height: 144px;
  left: 40px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  box-sizing: content-box;
}
.pictures {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-top: 100px;
  width: 254px;
  height: 144px;
  left: 40px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  box-sizing: content-box;
}
.film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}
/*about*/
.about {
  display: flex;
  padding-left: 110px;
}

.logo-white {
  margin-top: 145px;
  background-color: black;
  width: 195px;
  height: 195px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_logo-image {
  width: 170px;
  height: 90px;
}

.about_name {
  width: 693px;
  left: 359px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  padding-left: 57px;
  padding-right: 80px;
}

.about_title {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.about_text {
  margin-top: 80px;
}

.title {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #ffffff;
  width: 254px;
  min-height: 82px;
  gap: 0px;
}

.text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

/*footer*/
.footer {
  width: 850px;
  left: 50px;
  gap: 0px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  list-style: none;
}

.footer_contacts {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-align: left;
  width: 240px;
  top: 240px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  padding-left: 30px;
}

.footer_menu {
  padding-left: 120px;
  font-size: 14px;
}

.footer_cardthree {
  width: 48px;
  gap: 48px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
}
